---
const { componentSlug, layer } = Astro.props;
---

<div
  class="comparison-island js-react-mount"
  data-component-slug={componentSlug}
  data-layer={layer}
></div>
<script>
  import "../scripts/react-mount.tsx";
</script>
